body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #302a31;
  color: #c60ea2;
}

#action-btn, #theme-toggle {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

#output-list li {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
#output-list {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}